html, body {
  background-color: #eee; }

.nowtv {
  font-family: Arial;
  width: 940px;
  /* 940gs :) */
  margin: 0 auto; }
  .nowtv .logo {
    margin: 10px 5px; }
  .nowtv .account {
    float: right;
    border: 1px solid purple;
    margin-top: -1px;
    background-color: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px; }
    .nowtv .account a {
      display: inline-block;
      padding: 10px;
      border-left: 1px solid purple; }
    .nowtv .account a:first {
      border-left: 0; }
  .nowtv .account__actions:before {
    content: url("/images/user-profile.png");
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    margin-right: 5px; }
  .nowtv .navigation {
    height: 58px; }
  .nowtv .navigation__links {
    float: left; }
    .nowtv .navigation__links a:before {
      content: url("/images/navigation/divider.png");
      display: inline-block;
      line-height: 1;
      vertical-align: middle; }
    .nowtv .navigation__links a:first-child:before {
      content: url("/images/navigation/start.png");
      vertical-align: middle; }
    .nowtv .navigation__links a {
      float: left;
      display: inline-block;
      height: 58px;
      line-height: 58px;
      background-image: url("/images/navigation/background.png");
      color: #ccc;
      padding-right: 12px;
      font-size: 12px;
      font-weight: bold;
      text-decoration: none;
      text-transform: capitalize; }
  .nowtv .search {
    float: left; }
  .nowtv .search__input {
    outline: none;
    background-image: url("/images/search.png");
    height: 55px;
    padding-bottom: 3px;
    width: 210px;
    padding-left: 43px;
    border: 0;
    font-size: 14px; }
  .nowtv .search-results {
    display: none;
    position: absolute;
    margin-left: -125px;
    margin-top: -5px;
    min-height: 200px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 3px 3px #ccc;
    background-color: white; }
  .nowtv .search__input:focus + .search-results {
    display: block; }
  .nowtv .search-results__filters {
    float: left;
    width: 115px;
    padding: 5px; }
    .nowtv .search-results__filters a {
      display: block;
      text-align: right; }
  .nowtv .search-results__list {
    float: left;
    width: 240px;
    padding: 5px; }
    .nowtv .search-results__list a {
      display: block; }
